*{
    margin: 0px;
    padding: 0px;
}

img{
    height: 50px;
    width: 50px;
}

.header nav{
    display: flex;
justify-content: end;
}

.footer{
    background-color: #D3D3D3;
}

.footer li{
    list-style-type: none;
}

.footer a{
    text-decoration: none;
}

.footer link{
    color: black;
}

.form h2{
    text-align: center;
}